# Day -1 is for fetching the data and choose appropriate colums


## Also get Niifty-50 list and store that data in CSV

In [1]:
# Please uncomment below code for first time run.

# !pip install psycopg2
# !pip install pandas
# !pip install nsepy

In [2]:
import psycopg2
from nsepy import get_history
from datetime import date
import pandas as pd
from sqlalchemy import create_engine
import io

In [3]:
# import psycopg2

def get_db_connection():
    conn = psycopg2.connect(
    database="Local Setup", user='postgres', password='admin', host='127.0.0.1', port= '5432')
    cursor = conn.cursor()
    return cursor

In [4]:
stock_lst = ['ADANIPORTS','ASIANPAINT','AXISBANK','BAJAJ-AUTO','BAJAJFINSV','BAJFINANCE','BHARTIARTL','BPCL','BRITANNIA','CIPLA','COALINDIA','DIVISLAB',
'DRREDDY','EICHERMOT','GRASIM','HCLTECH','HDFC','HDFCBANK','HDFCLIFE','HEROMOTOCO','HINDALCO','HINDUNILVR','ICICIBANK','INDUSINDBK','INFY',
'IOC','ITC','JSWSTEEL','KOTAKBANK','LT','M&M','MARUTI','NESTLEIND','NTPC','ONGC','POWERGRID','RELIANCE','SBILIFE','SBIN','SHREECEM','SUNPHARMA',
'TATACONSUM','TATAMOTORS','TATASTEEL','TCS','TECHM','TITAN','ULTRACEMCO','UPL','WIPRO']

In [5]:
# from nsepy import get_history
# from datetime import date
# import pandas as pd

pd.options.display.float_format='{:.2f}'.format

data = pd.DataFrame()

for i in stock_lst:
    signle_data = get_history(symbol=i, start=date.today()  , end = date.today()) 
    data = data.append(signle_data,True)
    
file_name = 'TodaysAnalysis_' + str(date.today()) + '.csv'
data.to_csv(file_name , index=False)

In [6]:
n50_data = pd.read_csv('TodaysAnalysis_'+ str(date.today()) + '.csv')

In [7]:
n50_data['DayOpenChng%'] = (n50_data['Open'] - n50_data['Prev Close'] ) / n50_data['Open'] * 100

In [8]:
n50_data['MaxChange%'] = (n50_data['High'] - n50_data['Low']) / n50_data['High'] * 100

In [9]:
n50_data['OpentoLastChng%'] = (n50_data['Last'] - n50_data['Open']) / n50_data['Last'] * 100

In [10]:
n50_data.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble,DayOpenChng%,MaxChange%,OpentoLastChng%
0,ADANIPORTS,EQ,765.10,769.50,774.90,754.00,762.00,763.55,766.10,5775798,442481340140000.00,105045,1348719,0.23,0.57,2.70,-0.98
1,ASIANPAINT,EQ,3538.75,3556.90,3582.45,3534.00,3547.00,3543.80,3550.21,594543,211074955525000.00,78042,335465,0.56,0.51,1.35,-0.28
2,AXISBANK,EQ,743.25,749.65,751.45,743.15,745.00,746.85,747.34,5294563,395686237325000.00,148781,2906361,0.55,0.85,1.10,-0.62
3,BAJAJ-AUTO,EQ,3436.75,3446.10,3452.00,3414.25,3435.10,3440.10,3435.42,198452,68176510275000.00,29217,71363,0.36,0.27,1.09,-0.32
4,BAJAJFINSV,EQ,17799.50,17900.00,18190.00,17750.00,17890.00,17935.30,17993.40,223394,401961772760000.00,40203,46275,0.21,0.56,2.42,-0.06

In [11]:
lst = ['Series' ,'Turnover' , 'VWAP' , 'Volume','Trades' , 'Deliverable Volume' ]
n50_data = n50_data.drop(lst , axis =1 )
data.to_csv('n50_data.csv' , index=False)

In [12]:
n50_data.head()

,Symbol,Prev Close,Open,High,Low,Last,Close,%Deliverble,DayOpenChng%,MaxChange%,OpentoLastChng%
0,ADANIPORTS,765.10,769.50,774.90,754.00,762.00,763.55,0.23,0.57,2.70,-0.98
1,ASIANPAINT,3538.75,3556.90,3582.45,3534.00,3547.00,3543.80,0.56,0.51,1.35,-0.28
2,AXISBANK,743.25,749.65,751.45,743.15,745.00,746.85,0.55,0.85,1.10,-0.62
3,BAJAJ-AUTO,3436.75,3446.10,3452.00,3414.25,3435.10,3440.10,0.36,0.27,1.09,-0.32
4,BAJAJFINSV,17799.50,17900.00,18190.00,17750.00,17890.00,17935.30,0.21,0.56,2.42,-0.06

In [13]:
col_lst = ['Symbol','MaxChange%','DayOpenChng%','OpentoLastChng%']
n50_top_14 = n50_data[col_lst].sort_values(by = ['MaxChange%'], ascending=False).head(14)

In [14]:
# from sqlalchemy import create_engine
# import psycopg2 
# import io
# from datetime import date
# import pandas as pd

# Pick file as DF
df = n50_data

#Create postgress connection
engine = create_engine('postgresql+psycopg2://postgres:admin@127.0.0.1:5432/Local Setup')

# Replacing 2022-01-12 to 2022_01_12  (Replace - from date to _)
today_date = str(date.today()).replace('-','_')

#Picking single value from df and converting to_sql
df.head(0).to_sql('n50_' + today_date , engine, if_exists='replace',index=False)

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
df.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'n50_' + today_date, null="") # null values become ''
conn.commit()

# select * from "n50_2022-01-12";

In [15]:
df.head(0).to_sql('n50_top_20' + today_date , engine, if_exists='replace',index=False)